@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins";
  scroll-behavior: smooth;
}

html {
  background-color: #00091d;
  min-height: 100dvh;
}

body {
  background-color: transparent;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.838);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgb(10, 55, 90),
    rgb(54, 37, 152),
    rgb(0, 31, 99)
  );
}
